include README.md
include LICENSE
include LICENSE-docs.md
include requirements.txt
include requirements-dev.txt

recursive-include app *.py
recursive-include notebooks *.ipynb
recursive-include openfoam *.md *.txt
recursive-include scripts *.py
recursive-include tests *.py
recursive-include web *.html *.css *.js

global-exclude __pycache__/*
global-exclude *.py[cod]
global-exclude .env
global-exclude .env.*
global-exclude *.png
global-exclude *.svg
